body {font-family:Arial, Helvetica, sans-serif;}
@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas-webfont.eot');
    src: url('../fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas-webfont.woff') format('woff'),
         url('../fonts/bebas-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.mainWrapper { width:862px; margin:0 auto; padding:0; position:relative }
.contentWrapper { margin:0 0 60px 0; padding:32px 0 0 0; text-align:center; }
.contentWrapper h2 { font-size:28px; line-height:30px; font-weight:bold; color:#fff; margin:0 0 13px 0; padding:0; text-transform:uppercase; }
.contentWrapper p { font-size:19px; line-height:22px; font-weight:normal; color:#5e656d;}

/*HEADER start Here*/
header { margin:34px 0 0 0; padding:0; min-height:150px; }
#logo { display: block; width:94px; height:94x; background:url(../img/logo.png) no-repeat left top; margin:0 auto;}
#logo a { display: block; width:94px; height:94px; text-indent:-99999px; }
/*HEADER end Here*/

/*COUNTDOWN start Here*/
.countdown-wrapper { margin:0 0 130px 0; padding:0 0 0 20px; }
.countdown {-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
}

/*dias WRAPPER start Here*/
.dias-wrap div.inn { background-color:#2dcb73 !important;  text-shadow: 1px 1px rgb(30, 137, 77), 2px 2px rgb(30, 137, 77), 3px 3px rgb(30, 137, 77), 4px 4px rgb(30, 137, 77), 5px 5px rgb(30, 137, 77), 6px 6px rgb(30, 137, 77), 7px 7px rgb(30, 137, 77), 8px 8px rgb(30, 137, 77), 9px 9px rgb(30, 137, 77), 10px 10px rgb(30, 137, 77), 11px 11px rgb(30, 137, 77), 12px 12px rgb(30, 137, 77), 13px 13px rgb(30, 137, 77), 14px 14px rgb(30, 138, 78), 15px 15px rgb(30, 139, 78), 16px 16px rgb(30, 140, 79), 17px 17px rgb(30, 141, 79), 18px 18px rgb(31, 142, 80), 19px 19px rgb(31, 142, 80), 20px 20px rgb(31, 143, 81), 21px 21px rgb(31, 144, 81), 22px 22px rgb(31, 145, 82), 23px 23px rgb(31, 146, 82), 24px 24px rgb(32, 147, 83), 25px 25px rgb(32, 147, 83), 26px 26px rgb(32, 148, 84), 27px 27px rgb(32, 149, 84), 28px 28px rgb(32, 150, 85), 29px 29px rgb(32, 151, 85), 30px 30px rgb(33, 152, 86); font-family: 'bebasregular';}
.countdown .dias .flip-clock-label { top:183px; left:93px; color:#fff; text-transform:uppercase; font-size:28px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
/*dias WRAPPER end Here*/

/*horas WRAPPER start Here*/
.horas-wrap div.inn { background-color:#3498db !important; text-shadow: 1px 1px rgb(35, 104, 149), 2px 2px rgb(35, 104, 149), 3px 3px rgb(35, 104, 149), 4px 4px rgb(35, 104, 149), 5px 5px rgb(35, 104, 149), 6px 6px rgb(35, 104, 149), 7px 7px rgb(35, 104, 149), 8px 8px rgb(35, 104, 149), 9px 9px rgb(35, 104, 149), 10px 10px rgb(35, 104, 149), 11px 11px rgb(35, 104, 149), 12px 12px rgb(35, 104, 149), 13px 13px rgb(35, 104, 149), 14px 14px rgb(35, 105, 150), 15px 15px rgb(35, 105, 151), 16px 16px rgb(35, 106, 152), 17px 17px rgb(36, 107, 153), 18px 18px rgb(36, 107, 154), 19px 19px rgb(36, 108, 155), 20px 20px rgb(36, 108, 156), 21px 21px rgb(37, 109, 157), 22px 22px rgb(37, 110, 157), 23px 23px rgb(37, 110, 158), 24px 24px rgb(37, 111, 159), 25px 25px rgb(37, 111, 160), 26px 26px rgb(38, 112, 161), 27px 27px rgb(38, 113, 162), 28px 28px rgb(38, 113, 163), 29px 29px rgb(38, 114, 164), 30px 30px rgb(39, 115, 165); font-family: 'bebasregular';}
.countdown .horas .flip-clock-label { top:183px; left:46px; color:#fff; text-transform:uppercase; font-size:28px;  font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
/*horas WRAPPER end Here*/

/*minutos WRAPPER start Here*/
.mins-wrap div.inn { background-color:#9b59b6 !important; text-shadow: 1px 1px rgb(105, 60, 122), 2px 2px rgb(105, 60, 122), 3px 3px rgb(105, 60, 122), 4px 4px rgb(105, 60, 122), 5px 5px rgb(105, 60, 122), 6px 6px rgb(105, 60, 122), 7px 7px rgb(105, 60, 122), 8px 8px rgb(105, 60, 122), 9px 9px rgb(105, 60, 122), 10px 10px rgb(105, 60, 122), 11px 11px rgb(105, 60, 122), 12px 12px rgb(105, 60, 122), 13px 13px rgb(105, 60, 122), 14px 14px rgb(106, 60, 123), 15px 15px rgb(107, 61, 124), 16px 16px rgb(107, 61, 125), 17px 17px rgb(108, 61, 125), 18px 18px rgb(109, 62, 126), 19px 19px rgb(109, 62, 127), 20px 20px rgb(110, 63, 128), 21px 21px rgb(111, 63, 129), 22px 22px rgb(111, 63, 129), 23px 23px rgb(112, 64, 130), 24px 24px rgb(113, 64, 131), 25px 25px rgb(113, 65, 132), 26px 26px rgb(114, 65, 132), 27px 27px rgb(115, 65, 133), 28px 28px rgb(115, 66, 134), 29px 29px rgb(116, 66, 135), 30px 30px rgb(117, 67, 136); font-family: 'bebasregular';}
.countdown .minutos .flip-clock-label { top:183px; left:33px; color:#fff; text-transform:uppercase; font-size:28px;  font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
/*minutos WRAPPER end Here*/

/*segundos WRAPPER start Here*/
.segundos-wrap div.inn { background-color:#f39c12 !important; text-shadow: 1px 1px rgb(164, 105, 12), 2px 2px rgb(164, 105, 12), 3px 3px rgb(164, 105, 12), 4px 4px rgb(164, 105, 12), 5px 5px rgb(164, 105, 12), 6px 6px rgb(164, 105, 12), 7px 7px rgb(164, 105, 12), 8px 8px rgb(164, 105, 12), 9px 9px rgb(164, 105, 12), 10px 10px rgb(164, 105, 12), 11px 11px rgb(164, 105, 12), 12px 12px rgb(164, 105, 12), 13px 13px rgb(165, 105, 12), 14px 14px rgb(166, 106, 12), 15px 15px rgb(167, 107, 12), 16px 16px rgb(168, 107, 12), 17px 17px rgb(169, 108, 12), 18px 18px rgb(170, 109, 12), 19px 19px rgb(171, 109, 12), 20px 20px rgb(172, 110, 12), 21px 21px rgb(173, 111, 12), 22px 22px rgb(174, 111, 12), 23px 23px rgb(175, 112, 12), 24px 24px rgb(176, 113, 12), 25px 25px rgb(177, 113, 12), 26px 26px rgb(178, 114, 12), 27px 27px rgb(179, 115, 12), 28px 28px rgb(180, 115, 12), 29px 29px rgb(181, 116, 12), 30px 30px rgb(182, 117, 13);
  font-family: 'bebasregular';
  }
.countdown .segundos .flip-clock-label { top:183px; left:29px; color:#fff; text-transform:uppercase; font-size:28px;  font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
/*segundos WRAPPER end Here*/

/*COUNTDOWN end Here*/

/*NEWSLETTER WRAPPER start Here*/
.newsletter-wrapper{width:62%; margin:0 auto 70px auto; background:url(../img/bg-input.png) repeat left top; border-radius:2px; height:63px; line-height:63px; padding-left:20px;}
.newsletter-wrapper .input { background-color:transparent; font-size:20px; width:80%; border:0; float:left; margin-top:17px; color:#555b61;}
.newsletter-wrapper .btn { background:url(../img/bg-btn.png) left top no-repeat; width:64px; height:63px; border:0; text-indent:-9999px; float:right;}
.error { color:#f39c12; width:534px; height:24px; line-height:24px; display:none; float:left }
/*NEWSLETTER WRAPPER end Here*/

/*FOOTER WRAPPER start Here*/
footer { width:534px; margin:0 auto; padding:0 0 40px 0 }
footer p { font-size:15px; line-height:16px; color:#5e656d; text-align:center;}

/*SOCIAL WRAPPER start Here*/
.social { margin:0 auto 26px auto; padding:0; width:300px; text-align:center }
.social li { margin:0; padding:0 2px; display:inline; }
.social li a { margin:0; padding:0 4px; width:33px; height:33px; display:inline-block; }
.social li a.fb { background:url(../img/ico-fb.png) no-repeat left top; }
.social li a.fb:hover { background:url(../img/ico-fb-hvr.png) no-repeat left top; }
.social li a.dribbble { background:url(../img/ico-dribbble.png) no-repeat left top; }
.social li a.dribbble:hover { background:url(../img/ico-dribbble-hvr.png) no-repeat left top; }
.social li a.twitter { background:url(../img/ico-twitter.png) no-repeat left top; }
.social li a.twitter:hover { background:url(../img/ico-twitter-hvr.png) no-repeat left top; }
.social li a.gplus { background:url(../img/ico-gplus.png) no-repeat left top; }
.social li a.gplus:hover { background:url(../img/ico-gplus-hvr.png) no-repeat left top; }
/*SOCIAL WRAPPER end Here*/

/*FOOTER WRAPPER end Here*/

/* Preloader */
#preloader { position: fixed; top:0; left:0; right:0; bottom:0; background-color:#363f48; /* change if the mask should have another color then white */ z-index:99; /* makes sure it stays on top */ }
#status { width:200px; height:200px; position:absolute; left:50%; /* centers the loading animation horizontally one the screen */ top:50%; /* centers the loading animation vertically one the screen */ background-image:url(../img/status.gif); /* path to your loading animation */ background-repeat:no-repeat; background-position:center; margin:-100px 0 0 -100px; /* is width and height divided by two */ }
